.container {
   margin: 3rem;
}

.filter-search-sections {
    display: flex;
    justify-content: space-between;
}

.icon {
  cursor: pointer;
}

.search-area, .filter-area{
   padding: 0.4rem;
   border-radius: 5px;
}

.search-items {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 0.5rem;
    border-radius: 5px;
    border: 1px solid black;
}

.search-area {
    width: 100%;
    border: none;
    outline: none;
}


/* stylying cards */

.data-display{
   margin-top: 1.5rem; 
   display: grid;
   gap: 2rem;
   grid-template-columns: repeat(4, 1fr);
}

.card-container {
  width: 90%;
  text-align: left;
}

.card-body span {
    font-weight: 600;
}

/* media queries */

@media(max-width: 769px){
    .data-display{
        display: grid;
        grid-template-columns: 1fr;
    }

    .container {
        margin: 2rem;
     }
     
     .card-container {
       width: 95%;
    }

    .search-items {
        width: 50%;
    }

    .search-area, .filter-area{
        padding: 0.1rem;
    }

    .filter-area {
        width: 30%;
    }

}